
bin/
obj/
*.dll
*.exe
*.app
*.so
*.dylib
*.pubxml
*.pubxml.user
*.pdb


*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates


.idea/
.vscode/


*.log
*.lock
*.tmp
*.temp
*.pid
*.gz



node_modules/
yarn.lock
package-lock.json


dist/
.vuepress/dist


*.mdf
*.ldf



.env
.env.*

dist/


swagger/
swagger-ui/


.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project
*.bak
*.swp
*~


*.zip